@import url("https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One|Raleway|Ubuntu+Mono&display=swap");
* {
  box-sizing: border-box;
}
.intro {
  background-image: url("/assets/backgrounds/h_img.jpg");
  background-size: cover;
  height: 500px;
}
.intro h1,
.intro p {
  position: relative;
  top: 20%;
  display: block;
}

.about-us {
  height: 250 px;
}

.about-us h2,
.about-us p {
  margin-top: 15px;
}
.services {
  background-image: url("/assets/backgrounds/s_image.jpg");
  background-size: cover;
  height: 300px;
}
#contacts {
  background-image: url("/assets/backgrounds/c_image.jpg");
  background-size: cover;
  height: 500px;
  
}
 .formcontent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  
margin: auto;
}
/* .formgroup {
  /* margin-bottom: 20px; */
  /* margin: auto; */
/* } */
/* .formcontent {
  position: absolute;
  left: 30%;
  top: 15%;
}

#contacts textarea {
  height: 200px; */
/* } */ */
